body{
    background-color: whitesmoke;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1200px;
    margin: auto;
    padding: 15px;
}
li{
    display: inline-block;
    margin: 20px;
}
a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  /*parte de aparencia dos links*/
  a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 10px;
}
